.details {
  width: 100%;
}

.details .det-top {
  width: 100%;
  height: 2.25rem;
  background-color: #f4f4f4;
  text-align: left;
  line-height: 2.25rem;
}

.details .det-banner {
  width: 100%;
}

.details .det-banner img {
  width: 25.875rem;
  height: 24.25rem;
}

.details .det-info {
  width: 100%;
}

.details .det-info .det-goods {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.details .det-info .det-goods :nth-child(1) {
  font-size: 1.5625rem;
  font-weight: bold;
  color: #b60909;
}

.details .det-info .det-goods :nth-child(2) {
  font-size: 1.0625rem;
  color: #333333;
}

.details .det-info .det-goods :nth-child(3) {
  font-size: .625rem;
  color: #333333;
}

.details .det-center {
  width: 100%;
  margin-top: .625rem;
  text-align: left;
}

.details .det-center img {
  width: 100%;
  height: 2.55rem;
}

.details .det-centerA {
  width: 100%;
  margin-top: .625rem;
  margin-bottom: 1.875rem;
  text-align: left;
}

.details .det-centerA img {
  width: 100%;
  height: 2.55rem;
}

.details .det-num {
  width: 100%;
  text-align: left;
}

.details .det-num :nth-child(1) {
  margin-left: .625rem;
}

.details .det-footer {
  width: 100%;
  height: 2.875rem;
  margin-top: .625rem;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  z-index: 99999;
  display: flex;
  justify-content: space-around;
}

.details .det-footer span {
  display: inline-block;
  height: 2.875rem;
}

.details .det-footer :nth-child(1) {
  width: 25%;
  line-height: 2.875rem;
}

.details .det-footer :nth-child(2) {
  width: 25%;
  line-height: 2.875rem;
}

.details .det-footer :nth-child(3) {
  width: 50%;
  background-color: red;
  border-radius: .9125rem;
  line-height: 2.875rem;
}
