$align:center;
$color:#845f3f;
.App {
  text-align: $align;
  .active{
    color:$color;
  }
}
.footer{
  display: flex;
  position: fixed;
  bottom: 0rem;
  width:100%;
  height: 3.1875rem;
  justify-content: space-around;
  background-color: #fff;
  z-index: 9999;
  li{
    width: 20%;
    list-style: none;
    padding-top: .5rem;
    a{
      text-decoration: none;
      color: #000;
      display: flex;
      flex-direction: column;
    }
  }
}
