body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body a {
  text-decoration: none;
}

body .topLogo {
  width: 100%;
  height: 3.25rem;
  display: flex;
  justify-content: space-between;
  background-color: #845d32;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

body .topLogo img {
  width: 2.25rem;
  height: 1.75rem;
  align-self: center;
}

body .topLogo .homeSearch {
  width: 90%;
  display: flex;
  justify-content: space-around;
}

body .topLogo .homeSearch .search {
  width: 90%;
  height: 1.9375rem;
  align-self: center;
  display: flex;
  border-radius: 1.3125rem;
  border: 1px solid #ccc;
  background-color: #fff;
}

body .topLogo .homeSearch .search img {
  width: 1.375rem;
  height: 1.375rem;
  margin-left: .375rem;
  margin-right: .375rem;
}

body .topLogo .homeSearch .search input {
  width: 90%;
  height: 1.9375rem;
  display: block;
  color: #ccc;
  height: 1.3375rem;
  background: none;
  outline: none;
  border: none;
  position: relative;
  z-index: 9999;
  opacity: .6;
}

body .topLogo .homeSearch span {
  display: inline-block;
  width: 19.5rem;
  height: 1.1875rem;
  color: #999999;
  position: relative;
  left: -9.75rem;
  top: .25rem;
}

body .home-center {
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
}

body .home-center .banner {
  width: 100%;
  height: 11rem;
  background-color: #58bc58;
}

body .home-center .banner img {
  width: 100%;
  height: 11rem;
}

body .home-center .home-icon {
  width: 100%;
  height: 100%;
  padding-top: .5rem;
}

body .home-center .home-icon .home-icon-top {
  height: 50%;
  display: flex;
  justify-content: space-around;
}

body .home-center .home-icon .home-icon-top img {
  width: 3.4375rem;
}

body .home-center .home-icon .home-icon-footer {
  height: 50%;
  display: flex;
  justify-content: space-around;
  margin-top: .5rem;
}

body .home-center .home-icon .home-icon-footer img {
  width: 3.4375rem;
}

body .home-center .home-active {
  width: 100%;
  margin-top: .5rem;
}

body .home-center .home-active img {
  width: 23rem;
  height: 3.875rem;
}

body .home-center .home-active-one {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

body .home-center .home-active-one :nth-child(1) {
  width: 50%;
}

body .home-center .home-active-one :nth-child(1) img {
  width: 11rem;
  height: 7.8125rem;
}

body .home-center .home-active-one :nth-child(2) {
  width: 24%;
}

body .home-center .home-active-one :nth-child(2) img {
  width: 4.9125rem;
  height: 7.8125rem;
}

body .home-center .home-active-one :nth-child(3) {
  width: 24%;
}

body .home-center .home-active-one :nth-child(3) img {
  width: 4.9125rem;
  height: 7.8125rem;
}

body .home-center .home-active-two {
  width: 100%;
}

body .home-center .home-active-two :nth-child(1) {
  display: flex;
  justify-content: space-around;
  padding-top: .3rem;
}

body .home-center .home-active-two :nth-child(1) img {
  width: 11rem;
  height: 6.375rem;
}

body .home-center .home-active-two :nth-child(2) {
  display: flex;
  justify-content: space-around;
  padding-top: .3rem;
}

body .home-center .home-active-two :nth-child(2) img {
  width: 11rem;
  height: 6.375rem;
}

body .home-center .home-active-three {
  width: 100%;
  height: 27rem;
  background-color: #fff;
  border-radius: 8px;
}

body .home-center .home-active-three .biaoti {
  height: 2.6875rem;
  display: flex;
  justify-content: space-around;
  margin-top: .5rem;
}

body .home-center .home-active-three .biaoti :nth-child(1) {
  width: 14.25rem;
  margin-left: .6rem;
  font-size: 1.125rem;
  color: #333333;
  font-weight: bold;
  text-align: left;
}

body .home-center .home-active-three .biaoti :nth-child(2) {
  margin-right: .6rem;
  margin-top: .5rem;
  font-size: .75rem;
  color: #999999;
}

body .home-center .home-active-three .info {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

body .home-center .home-active-three .info .content {
  width: 12.5625rem;
  height: 6.75rem;
}

body .home-center .home-active-three .info .content :nth-child(1) {
  font-size: .9375rem;
  margin-left: .6rem;
  color: #333333;
  font-weight: bold;
  text-align: left;
}

body .home-center .home-active-three .info .content :nth-child(2) {
  width: 11.8125rem;
  margin-left: .6rem;
  font-size: .75rem;
  color: #7d4402;
  background-color: #fff9e3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body .home-center .home-active-three .info .content :nth-child(3) {
  text-align: left;
  margin-left: .6rem;
  color: #ff0000;
  font-size: .875rem;
  font-weight: bold;
}

body .home-center .home-active-three .info .goodsimg {
  width: 8.25rem;
  height: 6.75rem;
}

body .home-center .home-active-three .info .goodsimg img {
  width: 8.25rem;
  height: 8.25rem;
}

body .home-center .home-active-three .info-footer {
  margin-top: .5rem;
  text-align: left;
  margin-left: 1.6rem;
}

body .home-center .home-active-three .info-footer img {
  width: 1.25rem;
  height: 1.125rem;
}

body .home-center .home-active-three .info-footer :nth-child(2) {
  font-size: .75rem;
  color: #333333;
}

body .home-center .home-active-three .info-footer :nth-child(3) {
  font-size: .75rem;
  color: #ee8842;
}

body .home-center .home-active-three .info-footer :nth-child(4) {
  font-size: .75rem;
  color: #333333;
}

body .home-center .home-active-three .info-footer :nth-child(5) {
  font-size: .75rem;
  color: #333333;
}

body .home-center .home-active-three .info-footer :nth-child(6) {
  font-size: .75rem;
  color: #ee8842;
}

body .home-center .home-active-three .info-footer :nth-child(7) {
  width: 20.8125rem;
  height: .25rem;
  margin: 0 0;
  background-image: linear-gradient(to right, #ffc866, #ff581b);
}

body .home-center .home-active-three .info2 {
  width: 100%;
  display: flex;
  margin-top: .5rem;
  justify-content: space-around;
}

body .home-center .home-active-three .info2 .content1 {
  width: 12.5625rem;
  margin-left: .6rem;
  background-color: #fff;
}

body .home-center .home-active-three .info2 .content1 :nth-child(1) {
  font-size: .9375rem;
  margin-left: .6rem;
  color: #333333;
  font-weight: bold;
  text-align: left;
}

body .home-center .home-active-three .info2 .content1 :nth-child(2) {
  text-align: left;
  margin-left: .6rem;
  color: #ff0000;
  font-size: .875rem;
  font-weight: bold;
}

body .home-center .home-active-three .info2 .content1 img {
  width: 6.25rem;
  height: 6.25rem;
  margin-left: 2.625rem;
}

body .home-center .home-active-three .info2 .content1 .info-footer {
  margin-top: .5rem;
  text-align: left;
  margin-left: 1.6rem;
}

body .home-center .home-active-three .info2 .content1 .info-footer img {
  width: 1.25rem;
  height: 1.125rem;
}

body .home-center .home-active-three .info2 .content1 .info-footer :nth-child(2) {
  font-size: .75rem;
  color: #333333;
}

body .home-center .home-active-three .info2 .content1 .info-footer :nth-child(3) {
  font-size: .75rem;
  color: #ee8842;
}

body .home-center .home-active-three .info2 .content1 .info-footer :nth-child(4) {
  width: 8.9375rem;
  height: .25rem;
  margin: 0 0;
  background-image: linear-gradient(to right, #ffc866, #ff581b);
}

body .home-center .home-active-three .info2 .content2 {
  width: 12.5625rem;
  margin-right: .6rem;
  background-color: #fff;
}

body .home-center .home-active-three .info2 .content2 :nth-child(1) {
  font-size: .9375rem;
  margin-left: .6rem;
  color: #333333;
  font-weight: bold;
  text-align: left;
}

body .home-center .home-active-three .info2 .content2 :nth-child(2) {
  text-align: left;
  margin-left: .6rem;
  color: #ff0000;
  font-size: .875rem;
  font-weight: bold;
}

body .home-center .home-active-three .info2 .content2 img {
  width: 6.25rem;
  height: 6.25rem;
  margin-left: 2.625rem;
}

body .home-center .home-active-three .info2 .content2 .info-footer {
  margin-top: .5rem;
  text-align: left;
  margin-left: 1.6rem;
}

body .home-center .home-active-three .info2 .content2 .info-footer img {
  width: 1.25rem;
  height: 1.125rem;
}

body .home-center .home-active-three .info2 .content2 .info-footer :nth-child(2) {
  font-size: .75rem;
  color: #333333;
}

body .home-center .home-active-three .info2 .content2 .info-footer :nth-child(3) {
  font-size: .75rem;
  color: #ee8842;
}

body .home-center .home-active-three .info2 .content2 .info-footer :nth-child(4) {
  width: 8.9375rem;
  height: .25rem;
  margin: 0 0;
  background-image: linear-gradient(to right, #ffc866, #ff581b);
}

body .home-center .home-active-four {
  width: 100%;
  height: 12.25rem;
}

body .home-center .home-active-four :nth-child(1) {
  width: 95%;
  border-radius: .5rem;
  margin-left: 2.5%;
  background-color: #fff;
  margin-top: .5rem;
}

body .home-center .home-active-four :nth-child(1) :nth-child(1) {
  width: 95%;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
}

body .home-center .home-active-four :nth-child(1) :nth-child(1)::-webkit-scrollbar {
  display: none;
}

body .home-center .home-active-four :nth-child(1) :nth-child(1) :nth-child(1) {
  width: 4.5rem;
  height: 1.5625rem;
  font-size: 1.125rem;
  font-weight: bold;
}

body .home-center .home-active-four :nth-child(1) .goodsinfo {
  width: 20.625rem;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
}

body .home-center .home-active-four :nth-child(1) .goodsinfo::-webkit-scrollbar {
  display: none;
}

body .home-center .home-active-four :nth-child(1) .goodsinfo :nth-child(1) {
  background-color: #fcf3f7;
}

body .home-center .home-active-four :nth-child(1) .goodsinfo div {
  width: 4.875rem;
  height: 9.5rem;
  border-radius: .5rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin-right: .5rem;
}

body .home-center .home-active-four :nth-child(1) .goodsinfo div img {
  width: 5rem;
  height: 5.8125rem;
}

body .home-center .home-active-four :nth-child(1) .goodsinfo div p {
  font-size: .75rem;
  color: #333333;
}

body .home-center .home-active-five {
  width: 100%;
  height: 13.25rem;
}

body .home-center .home-active-five :nth-child(1) {
  width: 95%;
  border-radius: .5rem;
  margin-left: 2.5%;
  background-color: #fff;
  margin-top: .5rem;
}

body .home-center .home-active-five :nth-child(1) :nth-child(1) {
  width: 95%;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
}

body .home-center .home-active-five :nth-child(1) :nth-child(1)::-webkit-scrollbar {
  display: none;
}

body .home-center .home-active-five :nth-child(1) :nth-child(1) :nth-child(1) {
  width: 4.5rem;
  height: 1.5625rem;
  font-size: 1.125rem;
  font-weight: bold;
}

body .home-center .home-active-five :nth-child(1) :nth-child(1) :nth-child(2) {
  font-size: .625rem;
  margin-top: 1rem;
  margin-right: 1rem;
  color: #999999;
}

body .home-center .home-active-five :nth-child(1) .goodsinfo {
  width: 20.625rem;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
}

body .home-center .home-active-five :nth-child(1) .goodsinfo::-webkit-scrollbar {
  display: none;
}

body .home-center .home-active-five :nth-child(1) .goodsinfo :nth-child(1) {
  background-color: #fcf3f7;
}

body .home-center .home-active-five :nth-child(1) .goodsinfo div {
  width: 4.875rem;
  height: 9.5rem;
  border-radius: .5rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin-right: .5rem;
}

body .home-center .home-active-five :nth-child(1) .goodsinfo div img {
  width: 5rem;
  height: 5.8125rem;
}

body .home-center .home-active-five :nth-child(1) .goodsinfo div p {
  font-size: .75rem;
  color: #7d4402;
}

body .home-center .home-active-six {
  width: 100%;
  height: 8.25rem;
}

body .home-center .home-active-six :nth-child(1) {
  width: 95%;
  height: 7.9375rem;
  background-color: #fff;
  margin-left: 2.5%;
  border-radius: .5rem;
}

body .home-center .home-active-six :nth-child(1) .one {
  width: 9.9375rem;
  float: left;
}

body .home-center .home-active-six :nth-child(1) .one span {
  display: inline-block;
  width: 7.5625rem;
  height: 1.25rem;
  text-align: left;
}

body .home-center .home-active-six :nth-child(1) .one span:nth-child(1) {
  font-size: 1.0625rem;
  color: #333333;
  font-weight: bold;
}

body .home-center .home-active-six :nth-child(1) .one span:nth-child(2) {
  font-size: .75rem;
  color: #d19432;
}

body .home-center .home-active-six :nth-child(1) .one img {
  width: 4.75rem;
  height: 4.75rem;
}

body .home-center .home-active-six :nth-child(1) .two {
  width: 4.9375rem;
  float: left;
}

body .home-center .home-active-six :nth-child(1) .two span {
  display: inline-block;
  width: 7.5625rem;
  height: 1.25rem;
  text-align: left;
}

body .home-center .home-active-six :nth-child(1) .two span:nth-child(1) {
  font-size: 1.0625rem;
  color: #333333;
  font-weight: bold;
}

body .home-center .home-active-six :nth-child(1) .two span:nth-child(2) {
  font-size: .75rem;
  color: #d19432;
}

body .home-center .home-active-six :nth-child(1) .two img {
  width: 4.75rem;
  height: 4.75rem;
}

body .home-center .home-active-six :nth-child(1) .three {
  width: 4.9375rem;
  float: left;
}

body .home-center .home-active-six :nth-child(1) .three span {
  display: inline-block;
  width: 6.5625rem;
  height: 1.25rem;
  text-align: left;
}

body .home-center .home-active-six :nth-child(1) .three span:nth-child(1) {
  font-size: 1.0625rem;
  color: #333333;
  font-weight: bold;
}

body .home-center .home-active-six :nth-child(1) .three span:nth-child(2) {
  font-size: .75rem;
  color: #d19432;
}

body .home-center .home-active-six :nth-child(1) .three img {
  width: 4.75rem;
  height: 4.75rem;
}

body .home-list {
  width: 100%;
  background-color: #f4f4f4;
}

body .home-list .home-list-content {
  width: 95%;
  margin-left: 2.5%;
  background-color: #fff;
}

body .home-list .home-list-content .home-list-top {
  display: flex;
  justify-content: space-around;
}
