div{
    .listSearch{
        width:100%;
        height: 2.8125rem;
        background-color: #fff;
        display: flex;
        position: fixed;
        top: 0;
        z-index: 9999;
        .search{
         width: 90%;
         height: 1.9375rem;
         align-self: center;
         display: flex;
         border-radius: 1.3125rem;
         border:1px solid #ccc;
         background-color: #fff;
         margin-left: 1.25rem;
         img{
             width: 1.375rem;
             height: 1.375rem;
             margin-left: .375rem;
             margin-right: .375rem;
         }
        input{
            width: 90%;
            height: 1.9375rem;
            display: block;
            color: #ccc;
            height: 1.3375rem;
            background:none;  
            outline:none;  
            border:none;
            position: relative;
            z-index: 9999;
            opacity: .6;
            }
        }
        span{
            display: inline-block;
            width: 19.5rem;
            height: 1.1875rem;
            color: #999999;
            position: relative;
            left: -9.75rem;
            top: .25rem;
        }
    }
    .listContent{
        width: 100%;
        background-color:#f4f4f4;
        display: flex;
        padding-top: 3.375rem;
        .left{
            width: 19%;
            height: 12.5rem;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            background-color: #fff;
            position: fixed;
            left: 0;
            a{
                color: #333333;
                :hover{
                    background-color: red;
                    color: #fff;
                    font-size: 1.125rem;
                }
            }
        }
        .right{
            width: 78%;
            height: 100%;
            margin-left: 3%;
            background-color: #fff;
            position: absolute;
            right: 0;
        }
    }
}